
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "微软雅黑";
}

img {
	display: block;
}
.width100{
	width: 100%;
	background: #f7f7f7;
}
.user_div{
	width: 725px;
	margin-top: 32px;
	margin-left: 46px;
	font-size: 14px;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border: 1px solid #CCC!important;
}

