@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Microsoft Yahei";
}
#app::-webkit-scrollbar {
	 display:none 
}
.setup-logo	.avatar-uploader .el-upload {
    border: 1px solid #d9d9d9;
    border-radius: 125px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
.setup-logo  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
.setup-logo  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
.setup-logo  .avatar {
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
  }
img {
	display: block;
}
.width100{
	width: 100%;
	background: #f7f7f7;
}
/* 搜索开始 */
 .el-popper{
	margin: 0 !important;
}
.popper__arrow{
	display: none !important;
}
.el-input__inner{
	height: 32px;
	width: 424px;
}
.el-input__icon{
	line-height: 36px;
}
/* 搜索结束 */
.el-loading-mask{
	background: #fff;
	transition: none;
}
.user_div{
	width: 725px;
	margin-top: 32px;
	margin-left: 46px;
	font-size: 14px;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border: 1px solid #CCC!important;
}
.clearfix { 
	*zoom: 1; 
  } 
   .el-tabs__nav{
	   min-height: 624px;
	   background: #fff;
   }
  .clearfix:before, 
  .clearfix:after { 
	display: table; 
	line-height: 0; 
	content: ""; 
  }
.el-tabs--left .el-tabs__active-bar.is-left{
	width: 6px;
	height: 20px !important;
	background-color: #ee8354;
	left: 0 !important;
    top: 15px!important;
}
  .clearfix:after { 
	clear: both; 
  }
.fl{
	float: left;
}
.fr{
	float:right;
}
.flex{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.el-pagination{
	text-align: center;
	padding: 6px 0;
}
.el-tabs:after {
	content: ".";
	clear: both;
	display: block;
	overflow: hidden;
	font-size: 0;
	height: 0;
}
.el-tabs--left .el-tabs__item {
	width: 131px !important;
	text-align: center !important;
	height: 50px !important;
	line-height: 50px;
}
.el-tabs--left .el-tabs__item.is-left{
	background: #fff !important;
}
.el-tabs__item.is-active{
	color: #ee8354;
}
.el-tabs__item:hover{
	color: #ee8354;	
}
.el-message{
	top: 24%;
}
.el-message--warning{
	border: 1px solid #f00;
}
.dialogg {
	width: 408px !important;
	margin-top: 26vh !important;
	height: 236px !important;
	border-radius: 10px;
	z-index: 8999 !important;
	
  }
  .green{
	  color:#46c032;
  }
  .red{
	  color:#e26042;
  }
  .inline-input .popper__arrow{
	display: none;
  }
  .inline-input{
	  width: 300px !important;
  }